<center>
        <h1 style="color:gray">Spyder's Employee  Database</h1>
        <hr>
    <h1>HEY COMPANY WELCOME'S YOU TO EMPLOYEE'S DATABASE</h1>
  <h2><mark>  <%=empdata["name"]%></mark></h2>
  <footer id="cu">

        &copy;2019 Personal website &nbsp; Designed by Pritesh with ❤ <br>
        Contact details☎ 7289048592
    
      </footer>
      
    </center>
   