<style>
.cont1
{
    height:20vh;
    background: rgb(8, 155, 8) ;
}

button{
    color:white;
    background: rgb(8, 155, 8);
    padding-left:150px;
    padding-right: 150px;
    padding-top:8px;
    padding-bottom: 8px;
    border: 1px solid rgb(8, 155, 8);
}
#edc
{
    background:rgb(8, 155, 8);
    color:white;
    padding-top:4px;
    padding-bottom: 4px;
    font-size: 17px;
    margin-top: 150px;
}
#df{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-size:18px;
}
.cont2{
    
     height: 54vh;
     margin-left: 510px;
     margin-right: 510px;
     margin-top: -76px;
     background: white;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=text]{
    background: transparent;
    border:none;
    border-bottom: 1px solid #1178bd;
    float:left;
    margin-left:20px;
    padding-left:280px;

  
}
 form p
{
    float:left;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

h1{
    padding-top: 18px;
    color:rgb(8, 155, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
</style>
<div class="cont1">
   

</div>

<div class="cont2"> 
     <center>   
        <h1>User Login</h1> 
        <form action="/empinfo" method="POST">
         <p title="Enter your valid username">Username*</p>
         <br>
         <br>
         <br>
         <input type="text">
         <br>
         <br>
         <br>
         <p title="Enter Your valid Password">Password*</p>
         <br>
         <br>
         <br>
         <input type="text">
         <br>
         <br>
         <br>
         <br>
         <button>Submit</button>
         </form>
         </center>
</div>
<center>
<p  id="df" style="color:rgb(8, 155, 8)">Need Help/Trouble signing in <br> VPN Package Download</p>
</center>
<footer>
    <center>
<p id="edc"> Kindly Use "Bvp&1234" as your 1st Login Password and Change after Login </p>
</center>
</footer>































































<!-- <style>
.container1
{
    border:1px solid grey;
    border-radius: 10px;
    background:rgba(29, 28, 28, 0.836);
    margin-top:50px;
    margin-left:60px;
    margin-right:60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border 3px inset green;
}
body
{
   color:cornflowerblue;
   background:whitesmoke;
}
input:hover{
   border: thistle;
}
.cont2{
    background: black;
      margin-top:-20px; 
}
p
{
    font-size:22px;
    color:white;
    
}
button:hover{
    font-size: 20px;
}
h1{
    color: white;
}
input
{
    font-size:18px;
}
button
{
    padding-right:50px;
    padding-left:50px;
    padding-top:2px;
    padding-bottom: 2px;
    font-size:17px;
    border:1px solid white;
    background: rgba(7, 238, 7, 0.973);
    color:white;
}
    </style>
<div class="container1">
<center>
    <div class="cont2">
        <h1 >Spyder's Employee's Company Login Form</h1>
        <hr>
</div>
<form action="/empinfo" method="POST">
   <b> <p>Name Of The Employee &nbsp;&nbsp;&nbsp; <input type ="text" name = "name"></p> </b>

<b><p>Resume Url&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<input type ="text" name = "url"></p></b>

<b><p>Qualification&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type ="text" name = "qualification"></p></b>
<br>

<button>Submit</button>
</form>
<footer id="cu">

        &copy;2019 Personal website &nbsp; Designed by Pritesh with ❤ <br>
        Contact details☎ 7289048592
    
      </footer>
</center>
</div>
<p>Name </p> 
 <input type ="text" name = "name">
         
         <p>Resume Url</p>
            <input type ="text" name = "url">
         
         <p>Qualification</p>
         <input type ="text" name = "qualification">
       -->