<style>
    body{
     background: white;  
    }
    #rtw
    {
       font-size:60px;
    }
    #wer
    {
        padding-top:0px;
    }
    footer{
        margin-top:260px;
    }
    input:hover
    {
        background: rgb(90, 86, 88);
    }
    </style>
    <center>
        <p id="rtw">MOVIE SEARCH API</p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbgHVVHoPNtIV6IKdIRxIyD13HJ6OSw3wPDS_AC42KV5b0RAY02Q">
<form action="/films" method="GET" id="wer" >
    <input type="text" name="movie" placeholder="" id="rtw">
    <input type="submit" id="rtw">
    </form>
    <footer>&nbsp;2020 created by spyder with ❤😊</footer>
    
    </center>
    <%include partials/footer.ejs%>