<form action="/campgrounds" method="POST">
<input type="text" placeholder="yelpcampname" name="ncamp">
<input type="text" placeholder="url" name="newurl">
<button>Submit</button>
</form>
<button><a href="/campgrounds">cmpadd</a></button>