<%- include('partials/header') %>
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-notes-medical fa-10x"></i>
    <h1 class="display-3">Welcome, to U.M.I Database</h1>
    <p class="secret-text">We take care of medical history better than your loved ones.</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/blogs" role="button">View Patient Details</a>
    <a class="btn btn-dark btn-lg" href="/blogs/new" role="button">Add A Patient</a>
    <a class="btn btn-danger btn-lg" href="/" role="button">Logout</a>

  </div>
</div>
<%- include('partials/footer') %>