<center><b<h1><h1 style="color:cornflowerblue">Student Info Page Coming Soon</h1></b></center>
<%students.forEach(function(student){%>
<center>
<li><%=student["name"]%>,<%=student["branch"]%>,<%=student["year"]%></li>
</center>

<%})%>